.footer {
  background-color: #353333;
  color: white;
  padding-bottom: 5%;

  @media screen and (min-width: 992px) {
    padding: 3% 0 1% 4%;
  }

  &__logo {
    height: 1rem;
    padding: 5% 0 3% 6%;

    @media screen and (min-width: 768px) and (max-width: 991px) {
      height: 1.3rem;
    }

    @media screen and (min-width: 992px) {
      height: 1.3rem;
      width: 100%;
      padding: 0;
      margin-bottom: 1%;
    }
  }

  &__mention {
    &-line {
      display: flex;
      align-items: center;
      padding-bottom: 5px;
      font-family: $main_font;
      padding: 0 0 1% 6%;
      margin: 0;

      @media screen and (min-width: 992px) {
        width: 15%;
        margin: 1% auto;
        padding: 0 0 0 6%;
      }
    }

    &__mention > ul, li {
      list-style: none;

    }

    &__mention > ul, li > a {
      text-decoration: none;
    }

    &-icon1 {
      font-size: .7rem;
      margin-right: 12px;

      @media screen and (min-width: 768px) and (max-width: 991px) {
        font-size: 1.1rem;
        margin-right: 30px;
      }
    }

    &-icon2 {
      font-size: .6rem;
      margin-right: 10px;

      @media screen and (min-width: 768px) and (max-width: 991px) {
        font-size: 1.2rem;
        margin-right: 21px;
      }
    }

    &-text {
      font-size: .9rem;
      color: white;
      margin: 0;

      @media screen and (min-width: 768px) and (max-width: 991px) {
        font-size: 1.3rem;
      }
    }
  }
}
