.infos_footer {
    background-color: #353333;
    color: white;
    padding: 15px 0 25px 20px;
    &_logo {
        height: .9rem;
        padding-bottom: 15px;
    }
    &_mention {
        &--line {
            display: flex;
            align-items: center;
            padding-bottom: 5px;
            font-family: $main_font;
        }
        &--icon1 {
            font-size: .7rem;
            margin-right: 12px;
        }
        &--icon2 {
            font-size: .6rem;
            margin-right: 10px;
        }
        &--text {
            font-size: .9rem;
            color: white;
            margin: 0;
        }
    }
}

.infos_footer_mention--line > a {
    text-decoration: none;
}