@keyframes hearts {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(0.2);
  }
  40% {
    transform: scale(0.4);
  }
  60% {
    transform: scale(0.6);
  }
  80% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
    opacity: 1;
    z-index: 0;
  }
}
@keyframes checkIcon {
  from {
    opacity: 0;
    transform: rotate(-90deg);
  }
  to {
    opacity: 1;
    transform: rotate(360deg);
  }
}
@keyframes checkBox {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes apparition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes loader-grow {
  to {
    transform: scale(1.2);
    background-color: #FF79DA;
    opacity: 1;
  }
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@keyframes home {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
body {
  max-width: 1440px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin: auto;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "shrikhand";
  src: url(../../assets/fonts/Shrikhand-Regular.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../../assets/fonts/Roboto-Regular.ttf);
}
header {
  display: flex;
  position: relative;
  justify-content: center;
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.3);
}

.logo_omf {
  height: 1.8em;
  padding: 7% 0;
}

.heading__arrow {
  position: absolute;
  left: 1.2em;
  top: 1.2em;
}

.footer {
  background-color: #353333;
  color: white;
  padding-bottom: 5%;
}
@media screen and (min-width: 992px) {
  .footer {
    padding: 3% 0 1% 4%;
  }
}
.footer__logo {
  height: 1rem;
  padding: 5% 0 3% 6%;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .footer__logo {
    height: 1.3rem;
  }
}
@media screen and (min-width: 992px) {
  .footer__logo {
    height: 1.3rem;
    width: 100%;
    padding: 0;
    margin-bottom: 1%;
  }
}
.footer__mention-line {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
  font-family: "Roboto";
  padding: 0 0 1% 6%;
  margin: 0;
}
@media screen and (min-width: 992px) {
  .footer__mention-line {
    width: 15%;
    margin: 1% auto;
    padding: 0 0 0 6%;
  }
}
.footer__mention__mention > ul, .footer__mention li {
  list-style: none;
}
.footer__mention__mention > ul, .footer__mention li > a {
  text-decoration: none;
}
.footer__mention-icon1 {
  font-size: 0.7rem;
  margin-right: 12px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .footer__mention-icon1 {
    font-size: 1.1rem;
    margin-right: 30px;
  }
}
.footer__mention-icon2 {
  font-size: 0.6rem;
  margin-right: 10px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .footer__mention-icon2 {
    font-size: 1.2rem;
    margin-right: 21px;
  }
}
.footer__mention-text {
  font-size: 0.9rem;
  color: white;
  margin: 0;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .footer__mention-text {
    font-size: 1.3rem;
  }
}

.home {
  opacity: 0;
  animation: home 1s ease-in-out 3s forwards;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  left: 0;
  top: 0;
  animation: loader 1s ease-in-out 3s forwards;
}
.loader--icone {
  font-size: 4em;
  margin-bottom: 50px;
  color: #99E2D0;
  animation: rotate 2000ms infinite;
}
.loader--ellipses {
  display: flex;
  width: 100px;
  justify-content: space-between;
}
.loader--ellipses span {
  background-color: #9356DC;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  opacity: 0;
  animation: loader-grow 2000ms infinite alternate;
}
.loader--ellipses span:nth-child(2) {
  animation-delay: 400ms;
}
.loader--ellipses span:nth-child(3) {
  animation-delay: 800ms;
}

.location {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  padding: 0.8em 0;
  background-color: #dfdbdb;
  margin-top: 0.2em;
}
.location__search-input {
  font-size: 1.1rem;
  width: 60%;
  border: none;
  background-color: #dfdbdb;
}
@media screen and (min-width: 992px) {
  .location__search-input {
    font-size: 1rem;
  }
}
.location__form-icon {
  font-size: 0.9rem;
  margin: 0 0.6em;
}

.top-content {
  background-color: #EDEDED;
  padding-bottom: 5em;
  text-align: center;
}
.top-content__title {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  padding: 1.8em 1.8em 0 1.8em;
  font-family: "Roboto";
}
@media screen and (min-width: 992px) {
  .top-content__title {
    font-size: 1.8rem;
  }
}
.top-content__subtitle {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 1.8em;
  padding-bottom: 1.2em;
  font-size: 1.1rem;
  font-family: "Roboto";
}
@media screen and (min-width: 992px) {
  .top-content__subtitle {
    font-size: 1rem;
  }
}
.top-content__btn {
  text-align: center;
  text-decoration: none;
  font-family: "Roboto";
  padding: 0.9em 1.5em;
  color: white;
  border-radius: 30px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  box-shadow: 3px 3px 10px rgba(128, 128, 128, 0.3);
}
.top-content__btn:active {
  background: linear-gradient(to right bottom, #ff93e1, #a16be0);
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);
}
@media screen and (min-width: 992px) {
  .top-content__btn:hover {
    background: linear-gradient(to right bottom, #ff93e1, #a16be0);
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);
  }
}

.operations {
  margin: 10% 0;
}
@media screen and (min-width: 992px) {
  .operations {
    margin: 5%;
  }
}
.operations__title {
  margin: 0 0 1.8em 1.2em;
  font-family: "Roboto";
}
@media screen and (min-width: 992px) {
  .operations__title {
    width: 50%;
    text-align: center;
    margin: 0 auto 1.8em;
  }
}
@media screen and (min-width: 992px) {
  .operations__steps {
    display: flex;
  }
}
.operations__step {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 25px;
  width: 85%;
  margin: 0 auto 1.8em auto;
  padding: 0.6em 0;
  font-family: "Roboto";
  background-color: whitesmoke;
  box-shadow: 3px 3px 10px rgba(204, 204, 204, 0.3);
}
.operations__step::before {
  content: attr(data-number);
  border: 1px solid;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%);
  padding: 0.2em;
  color: white;
  background-color: #9356DC;
  font-size: 1em;
}
.operations__step__step > ul, .operations__step li {
  list-style: none;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .operations__step {
    width: 80%;
    margin: 0 auto 2.5em auto;
  }
}
@media screen and (min-width: 992px) {
  .operations__step {
    width: 30%;
  }
}
.operations__step-icon {
  color: grey;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .operations__step-icon {
    font-size: 1.5rem;
  }
}
.operations__step-title {
  padding-left: 1.2em;
  font-weight: bolder;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .operations__step-title {
    font-size: 1.5rem;
  }
}
.operations__step:active {
  background-color: #f2eafb;
}
.operations__step:active .operations__step-icon {
  color: #9356DC;
}
@media screen and (min-width: 992px) {
  .operations__step:hover {
    background-color: #f2eafb;
  }
  .operations__step:hover .operations__step-icon {
    color: #9356DC;
  }
}

.restaurants {
  background-color: #EDEDED;
  padding: 2.2em 0 1.8em 0;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .restaurants {
    font-size: 1.8rem;
  }
}
.restaurants__title {
  margin-left: 1.2em;
  font-family: "Roboto";
}
@media screen and (min-width: 992px) {
  .restaurants__title {
    width: 12%;
    margin: auto;
    font-size: 2em;
    margin-bottom: 3%;
  }
}
.restaurants__cards {
  padding: 0 1.2em;
}
@media screen and (min-width: 992px) {
  .restaurants__cards {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    width: 80%;
    margin: auto;
  }
}
.restaurants__card {
  border-radius: 25px;
  margin-bottom: 1.2em;
  background-color: #fff;
  position: relative;
  box-shadow: 3px 3px 10px rgba(217, 217, 217, 0.3);
}
.restaurants__card--icon {
  position: absolute;
  font-size: 1.5em;
  right: 7%;
  top: 80%;
}
.restaurants__card--empty {
  position: relative;
  cursor: pointer;
  z-index: 0;
}
.restaurants__card--full {
  position: absolute;
  right: 0;
  background-image: linear-gradient(to bottom, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  transform-origin: bottom;
}
.restaurants__card--full:active {
  animation: hearts 300ms ease-in-out forwards;
}
@media screen and (min-width: 992px) {
  .restaurants__card--full:hover {
    animation: hearts 300ms ease-in-out forwards;
  }
}
@media screen and (min-width: 992px) {
  .restaurants__card {
    width: 45%;
    margin-bottom: 5%;
  }
}
.restaurants__card a {
  text-decoration: none;
}
.restaurants__card-cover_image {
  width: 100%;
  object-fit: cover;
  height: 12em;
  border-radius: 15px 15px 0 0;
}
.restaurants__card-sticker {
  font-family: "Roboto";
  background-color: #99E2D0;
  color: #217460;
  padding: 0.3em 0.6em;
  position: absolute;
  top: 1%;
  right: 5%;
}
.restaurants__card-title {
  margin: 0;
  padding: 0.6em 0 0.3em 0.9em;
  font-family: "Roboto";
  color: black;
}
.restaurants__card-location {
  margin: 0;
  padding: 0 0 0.9em 0.9em;
  font-family: "Roboto";
  color: black;
}
.restaurants__card-icon {
  position: absolute;
  top: 7%;
  right: 80%;
  padding: 1.5em;
}
.restaurants__card-icon .restaurants__card-empty {
  position: relative;
}
.restaurants__card-icon .restaurants__card-empty .restaurants__card-full {
  position: absolute;
  top: 0;
  left: 0;
}

.heading__arrow {
  position: absolute;
  left: 20px;
  top: 20px;
}

.menu__image {
  height: 12rem;
  object-fit: cover;
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .menu__image {
    height: 22rem;
  }
}
@media screen and (min-width: 992px) {
  .menu__image {
    height: 22rem;
  }
}
.menu__bloc {
  position: relative;
  top: -30px;
  background-color: #f2f2f2;
  border-radius: 35px 35px 0 0;
  padding-bottom: 5em;
  margin-bottom: -30px;
}
@media screen and (min-width: 992px) {
  .menu__bloc {
    height: 40rem;
    padding-bottom: 6em;
  }
}
.menu__bloc__head {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}
.menu__bloc__head--icon {
  position: absolute;
  font-size: 1.5em;
  right: 50px;
  top: 40px;
}
.menu__bloc__head--empty {
  position: relative;
  cursor: pointer;
  z-index: 0;
}
.menu__bloc__head--full {
  position: absolute;
  right: 0;
  background-image: linear-gradient(to bottom, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  transform-origin: bottom;
}
.menu__bloc__head--full:active {
  animation: hearts 300ms ease-in-out forwards;
}
@media screen and (min-width: 992px) {
  .menu__bloc__head--full:hover {
    animation: hearts 300ms ease-in-out forwards;
  }
}
.menu__bloc__head__title {
  font-family: "Shrikhand";
  font-size: 1.3em;
  padding-left: 1.2em;
  margin-top: 1.8em;
}
@media screen and (min-width: 992px) {
  .menu__bloc__head__title {
    margin-bottom: 3em;
    font-size: 1.6em;
  }
}
@media screen and (min-width: 992px) {
  .menu__meal-category {
    display: flex;
    justify-content: space-around;
    margin-bottom: 4em;
  }
}
@media screen and (min-width: 992px) {
  .menu__meal-category--flex {
    display: flex;
    flex-direction: column;
    width: 30%;
  }
}
.menu__meal-category__title {
  position: relative;
  margin-left: 1.2em;
  font-family: "Roboto";
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 1rem;
}
.menu__meal-category__title::after {
  position: absolute;
  content: "";
  display: block;
  width: 42px;
  height: 3px;
  background-color: #99E2D0;
}
@media screen and (min-width: 992px) {
  .menu__meal-category__title {
    margin-left: 0;
  }
}
.menu___meal-category__container-flex {
  padding-bottom: 1.2em;
}
.menu__card {
  position: relative;
  cursor: pointer;
  font-family: "Roboto";
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 3px 3px 10px rgba(217, 217, 217, 0.3);
  margin: 0.6em 1.2em;
  opacity: 0;
  animation: apparition 2s ease-in-out forwards;
}
@media screen and (min-width: 992px) {
  .menu__card {
    width: 100%;
    margin: 0.6em 0;
  }
}
.menu__card.delay1 {
  animation-delay: 300ms;
}
.menu__card.delay2 {
  animation-delay: 700ms;
}
.menu__card.delay3 {
  animation-delay: 1000ms;
}
.menu__card.delay4 {
  animation-delay: 1300ms;
}
.menu__card:active .menu__card__card {
  width: 60%;
  transition: all 1s;
}
.menu__card:active .menu__card__select {
  width: 25%;
  animation: checkBox 2s ease-in-out forwards;
}
.menu__card:active .menu__card__select-icon {
  animation: checkIcon 1s ease-in 100ms forwards;
}
@media screen and (min-width: 992px) {
  .menu__card:hover .menu__card__card {
    width: 60%;
    transition: all 1s;
  }
  .menu__card:hover .menu__card__select {
    width: 25%;
    animation: checkBox 2s ease-in-out forwards;
  }
  .menu__card:hover .menu__card__select-icon {
    animation: checkIcon 1s ease-in 100ms forwards;
  }
}
.menu__card__box {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .menu__card__box {
    width: 100%;
  }
}
.menu__card__infos {
  width: 80%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__card__title {
  margin: 0;
  padding: 0.6em 0 0 0.9em;
  font-family: "Roboto";
  font-size: 0.9em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media screen and (min-width: 992px) {
  .menu__card__title {
    font-size: 1em;
  }
}
.menu__card__description {
  margin: 0;
  padding: 0.3em 0 0.6em 0.9em;
  font-family: "Roboto";
  font-size: 0.8rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media screen and (min-width: 992px) {
  .menu__card__description {
    font-size: 0.9em;
  }
}
.menu__card__price {
  position: relative;
  font-size: 0.8rem;
  font-weight: bolder;
  width: 20%;
}
@media screen and (min-width: 992px) {
  .menu__card__price {
    font-size: 0.9em;
  }
}
.menu__card__price-text {
  position: absolute;
  top: 35%;
  right: 1em;
  display: inline-block;
}
@media screen and (min-width: 992px) {
  .menu__card__price-text {
    top: 32%;
  }
}
.menu__card__select {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  width: 0%;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  transition: all 1s;
}
.menu__card__select-icon {
  opacity: 0;
  font-size: 1.2rem;
  background-color: #fff;
  border-radius: 50%;
  padding: 0.2em;
  color: #99E2D0;
}
.menu__btn {
  text-align: center;
  margin-top: 5em;
}
.menu__btn--order {
  text-align: center;
  text-decoration: none;
  font-family: "Roboto";
  padding: 15px 75px;
  color: white;
  border-radius: 30px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  box-shadow: 3px 3px 10px rgba(128, 128, 128, 0.3);
}
.menu__btn--order:active {
  background: linear-gradient(to right bottom, #ff93e1, #a16be0);
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);
}
@media screen and (min-width: 992px) {
  .menu__btn--order:hover {
    background: linear-gradient(to right bottom, #ff93e1, #a16be0);
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);
  }
}
@media screen and (min-width: 992px) {
  .menu__btn--order {
    font-size: 1.5em;
  }
}

/*# sourceMappingURL=style.css.map */
