.home {
  opacity: 0;
  animation: home 1s ease-in-out 3s forwards;
}

.loader {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  left: 0;
  top: 0;
  animation: loader 1s ease-in-out 3s forwards;

  &--icone {
    font-size: 4em;
    margin-bottom: 50px;
    color: $tertiary_color;
    animation: rotate 2000ms infinite;
  }

  &--ellipses {
    display: flex;
    width: 100px;
    justify-content: space-between;
  }

  &--ellipses span {
    background-color: $primary_color;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    opacity: 0;
    animation: loader-grow 2000ms infinite alternate;
  }

  &--ellipses span:nth-child(2) {
    animation-delay: 400ms;
  }

  &--ellipses span:nth-child(3) {
    animation-delay: 800ms;
  }
}

.location {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  padding: .8em 0;
  background-color: $location_bgc;
  margin-top: .2em;

  &__search-input {
    font-size: 1.1rem;
    width: 60%;
    border: none;
    background-color: $location_bgc;

    @media screen and (min-width: 992px) {
      font-size: 1rem;
    }
  }

  &__form {
    &-icon {
      font-size: .9rem;
      margin: 0 .6em;

    }
  }
}

.top-content {
  background-color: $bg_color;
  padding-bottom: 5em;
  text-align: center;

  &__title {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    padding: 1.8em 1.8em 0 1.8em;
    font-family: $main_font;

    @media screen and (min-width:992px) {
      font-size: 1.8rem;
    }
  }

  &__subtitle {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 1.8em;
    padding-bottom: 1.2em;
    font-size: 1.1rem;
    font-family: $main_font;

    @media screen and (min-width:992px) {
      font-size: 1rem;
    }
  }

  &__btn {
    @include main_btn($secondary_color, $primary_color, .9em, 1.5em);
  }
}

.operations {
  margin: 10% 0;

  @media screen and (min-width: 992px) {
    margin: 5%;
  }

  &__title {
    margin: 0 0 1.8em 1.2em;
    font-family: $main_font;

    @media screen and (min-width: 992px) {
      width: 50%;
      text-align: center;
      margin: 0 auto 1.8em;
    }
  }

  &__steps {
    @media screen and (min-width: 992px) {
      display: flex;
    }
  }

  &__step {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 25px;
    width: 85%;
    margin: 0 auto 1.8em auto;
    padding: .6em 0;
    font-family: $main_font;
    background-color: lighten(#f2f2f2, $amount: 1);
    box-shadow: $box_shadow lighten($color_shadow, $amount: 80);

    @media screen and (min-width: 768px) and (max-width: 991px) {
      width: 80%;
      margin: 0 auto 2.5em auto;
    }

    @media screen and (min-width: 992px) {
      width: 30%;
    }

    &-icon {
      color: grey;
      padding-left: 2em;

      @media screen and (min-width: 768px) and (max-width: 991px) {
        font-size: 1.5rem;
      }
    }

    &-title {
      padding-left: 1.2em;

      @media screen and (min-width: 768px) and (max-width: 991px) {
        font-size: 1.5rem;
      }
    }

    &-number {
      border: 1px solid;
      border-radius: 25px;
      padding: .3em .6em;
      color: white;
      background-color: #9356DC;
      position: absolute;
      transform: translateX(-50%);

      &-text {
        margin: 0;
      }
    }

    &:active {
      background-color: lighten($primary_color, $amount: 35);

      .operations__step-icon {
        color: $primary_color;
      }
    }

    @media screen and (min-width: 992px) {
      &:hover {
        background-color: lighten($primary_color, $amount: 35);

        .operations__step-icon {
          color: $primary_color;
        }
      }
    }
  }
}

.restaurants {
  background-color: $bg_color;
  padding: 2.2em 0 1.8em 0;

  @media screen and (min-width: 768px) and (max-width: 991px) {
    font-size: 1.8rem;
  }

  &__title {
    margin-left: 1.2em;
    font-family: $main_font;

    @media screen and (min-width: 992px) {
      width: 12%;
      margin: auto;
      font-size: 2em;
      margin-bottom: 3%;
    }
  }

  &__cards {
    padding: 0 1.2em;

    @media screen and (min-width: 992px) {
      display: flex;
      justify-content: space-around;
      flex-flow: row wrap;
      width: 80%;
      margin: auto;
    }
  }

  &__card {
    border-radius: 25px;
    margin-bottom: 1.2em;
    background-color: #fff;
    position: relative;
    @include hearts(7%, 80%, 1.5em);

    @media screen and (min-width: 992px) {
      width: 45%;
      margin-bottom: 5%;
    }

    box-shadow: $box_shadow lighten($color_shadow, $amount: 85);

    a {
      text-decoration: none;
    }

    &-cover_image {
      width: 100%;
      object-fit: cover;
      height: 12em;
      border-radius: 15px 15px 0 0;
    }

    &-sticker {
      font-family: $main_font;
      background-color: $tertiary_color;
      color: darken($tertiary_color, $amount: 45);
      padding: .3em .6em;
      position: absolute;
      top: 1%;
      right: 5%;
    }

    &-title {
      margin: 0;
      padding: .6em 0 .3em 0.9em;
      font-family: $main_font;
      color: black;
    }

    &-location {
      margin: 0;
      padding: 0 0 0.9em 0.9em;
      font-family: $main_font;
      color: black;
    }

    &-icon {
      position: absolute;
      top: 7%;
      right: 80%;
      padding: 1.5em;

      .restaurants__card-empty {
        position: relative;

        .restaurants__card-full {
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }
}