@mixin hearts ($pos_x, $pos_y, $fsize) {
    &--icon {
        position: absolute;
        font-size: $fsize;
        right: $pos_x;
        top: $pos_y;        
    }
    &--empty {
        position: relative;
        cursor: pointer;
        z-index: 0;
    }
    &--full {
        position: absolute;
        right: 0;
        background-image: linear-gradient(to bottom, $primary_color, $secondary_color);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        opacity: 0;
        transform-origin: bottom;
        &:active {
            animation: hearts 300ms ease-in-out forwards;
        }
        @media screen and (min-width: 992px) {
            &:hover {
                animation: hearts 300ms ease-in-out forwards;
            }
        }
    }
}

@mixin animCheck {
    &:active &__card {
        width: 60%;
        transition: all 1s;
    }
    &:active &__select {
        width: 25%;
        animation: checkBox 2s ease-in-out forwards;
    }
    &:active &__select-icon {
        animation: checkIcon 1s ease-in 100ms forwards;
    }
    @media screen and (min-width:992px) {
        &:hover &__card {
            width: 60%;
            transition: all 1s;
        }
        &:hover &__select {
            width: 25%;
            animation: checkBox 2s ease-in-out forwards;
        }
        &:hover &__select-icon {
            animation: checkIcon 1s ease-in 100ms forwards;
        }
    }
}

@mixin ellipse {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@mixin apparition {
    opacity: 0;
    animation: apparition 2s ease-in-out forwards;

    &.delay1 {
        animation-delay: 300ms;
    }
    &.delay2 {
        animation-delay: 700ms;
    }
    &.delay3 {
        animation-delay: 1000ms;
    }
    &.delay4 {
        animation-delay: 1300ms;
    }
}