// FONTS

$title_font: Shrikhand;
$text_font: Roboto;

// COLORS

$primary_color: #9356DC;
$secondary_color: #FF79DA;
$tertiary_color:  #99E2D0;
$bg_color:  #EDEDED;
$hover_color: #aa83da;
$element_color: #c586f8;
$location_bgc:#e7e5e5;